body {
    font-family: Georgia;
}

p {
    font-size: 2em;
    width: 50%;
    margin: 5em auto 1em auto;
    padding: 0.5em;
    border: 0.25em black solid;
    animation: bounce 2s infinite ease;
    text-align: center;
}

@keyframes bounce {
    0% { transform: translate(0,0) rotate(0); }
    25% { transform: translate(-1em,1em) rotate(-20deg); }
    50% { transform: translate(0,0) rotate(0); }
    75% { transform: translate(1em,1em) rotate(20deg); }
    100% { transform: translate(0,0) rotate(0); }
}

img {
    height: 20em;
    border-radius: 2.5%;
}

.mini {
    height: 5em;
    border-radius: 5%;
}

h2 {
    font-size: 2em;
    width: 50%;
    margin: 1em auto 1em auto;
    padding: 0.5em;
    border: 0.25em black solid;
}

ul {
    font-size: 1.5em;
    width: 80%;
    margin: 1em auto 1em auto;
    padding: 0.5em 0.5em 0.5em 2em;
    border: 0.375em black solid;
    list-style: disc;
}

li {
    color: black;
    margin: 1em 0 1em 0;
}

h1 {
    font-size: 4em;
    border: 0.125em black solid;
    text-align: center;
    margin: 0.125em;
}

.here {
    text-decoration: underline;
    text-decoration-color: black;
}

a {
    text-decoration: none;
    color: black;
    margin: 0 1.25% 0 1.25%;
}

.quote {
    font-size: 1em;
    line-height: 2em;
    margin: 1em auto auto auto;
    border: 0.5em black solid;
    width: 40em;
    padding: 0 1em 0 1em;
}

#author {
    text-align: right;
}

@keyframes scroll {
    0% { opacity: 0%; transform: translate(25%,0); }
    25% { opacity: 100%; transform: translate(0,0); }
    50% { opacity: 100%; }
    75% { opacity: 100%; transform: translate(0,0); }
    100% { opacity: 0%;  transform: translate(-25%,0); }
}

#slide {
    margin: auto;
    display: block;
    animation: scroll 5s infinite ease-in-out;
}